<style> 
  @import "compass/css3";

  @font-face {
    font-family: Hack;
    src: url('./static/Hack-Regular.ttf');
  }

  div {
    font-family: Hack;
  }

  .dot-red {
    height: 20px;
    width: 20px;
    background-color: red;
    border-radius: 20%;
    display: inline-block;
  }

  .dot-blue {
    height: 20px;
    width: 20px;
    background-color: blue;
    border-radius: 20%;
    display: inline-block;
  }

  .dot-black {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 20%;
    display: inline-block;
  }

  .dot-green {
    height: 20px;
    width: 20px;
    background-color: green;
    border-radius: 20%;
    display: inline-block;
  }

  .dot-orange {
    height: 20px;
    width: 20px;
    background-color: orange;
    border-radius: 20%;
    display: inline-block;
  }

  .navbar-custom {
    background-color: rgb(170, 17, 17);
    color: rgb(255, 255, 255);
  }

  .navbar-custom li a {
    color: rgb(255, 255, 255);
  }

  .nav-link-custom:hover {
    color: rgb(37, 36, 36);
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
  }

  .accolloimg:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  .nav-link-custom:active {
    color: rgb(255, 255, 255);
  }

  .nav-link-custom:link {
    color: rgb(255, 255, 255);
  }

  .nav-link-custom:visited {
    color: rgb(255, 255, 255); 
  }

  body {
    font-family: 'Courier New', monospace;
  }

 </style>