<!doctype html>
<html lang="en">
  {% include './includes/head.html' %}
  {% include './includes/scripts.html' %}
  {% include './includes/style.html' %}
  <body>
    {% include './includes/nav.html' %}
    <div class="container" style="margin-top: 5%;">
      <div class="row row-margin-05 justify-content-md-center autoaccollo">
        {% if session['username'] %}
        {% if request.args.get('alert') == 'true' %}
        <div class="alert alert-danger card-text" role="alert" style="margin-bottom: 5%;">
          Gentile utente i campi da lei inseriti devono essere minimo di 2 caratteri. L'attività richiesta può contenere 60 caratteri.
        </div>
        {% endif %}
        {% endif %}
        {% if request.args.get('input_alert') == '1' %}
        <div class="alert alert-danger card-text" role="alert" style="margin-bottom: 5%;">
          Gentile utente, il campo da lei inserito deve essere minimo di 2 caratteri e massimo di 30 caratteri.
        </div>
        {% endif %}
        {% if view_form %}
        <p class="lead text-center">
          Gentile utente, per favore inserisci il tuo nome per la tua dashboard delle Carte Di Accollo.
        </p>
      </div>
      <div class="row row-margin-05 justify-content-md-center">
        <form action="{{ base_url }}/dashboard_accolli/create" method="POST">
          <div class="row justify-content-md-center">
            <div class="col-md-auto">
              <label class="sr-only" for="inlineFormInput">Nome</label>
              <input type="text" class="form-control" id="nome_dashboard" name='nome_dashboard' placeholder="Lucilio">
            </div>
            <div class="col-md-auto">
              <button type="submit" class="btn btn-secondary mb-2">Invia</button>
            </div>
          </div>
        </form>
      </div>
      {% endif %}
    </div>
    <div class="row justify-content-md-center autoaccollo">
      <form action="{{ base_url }}/cartadiaccollo?to=dashboard&dashboard_id={{session['username']}}&dashboard_name={{session['username']}}" method="POST">
        <div class="form-row align-items-center">
          <div class="col-md-auto">
            <fieldset class="border p-2">
            <legend  class="w-auto">{{ session['username'] }}</legend>
              <img src="{{ avatars.robohash(session['username']) }}">
            </fieldset>
          </div>
          <div class="col-lg">
            <p class="lead">
Benvenuto nel tuo gestore delle carte di accollo. Se vuoi che i tuoi contatti possano creare per te delle carte di accollo condividi l'indirizzo pubblico del tuo gestore accolli: <a href="{{ base_url }}?id={{id}}">{{ base_url }}?id={{id}}</a>
            </p>
            <p>Non visualizzi nuove carte di accollo? <a href="/dashboard_accolli">Clicca qui e ricarica la pagina</a></p>
            <p>Inserisci qui un'attività che vuoi fare e premi "auto-accollati" per creare una carta di accollo. Usa &lt;br&gt; per andare a capo.</p>
          </div>
          <div class="col-sm-10 my-1" style="margin-top: 5%">
            <input name="sender" type="hidden" class="form-control" id="sender" value="{{session['username']}}">
            <input name="recipient" type="hidden" class="form-control" id="recipient" value="{{session['username']}}">
            <input name="external_sender" type="hidden" class="form-control" id="external_sender" value="false">
            <input type="text" class="form-control" id="task" name="task" placeholder="Inserisci l'attività che vuoi fare. Usa <br> per andare a capo">
          </div>
          <div class="col-auto my-1" style="margin-top: 5%">
            <div class="col">
              <button type="submit" class="btn btn-danger custombtn" style="margin-top: 5%;" >auto-accollati</button>
            </div>
            <div class="col" style="margin-top: 5%;"> 
              <button value="true" name="lightcard" type="submit" class="btn btn-danger custombtn">crea carta solo con testo e QR</button>
            </div>
          </div>

          <div class="autoaccolloblack form-check form-check-inline custombtn" style="margin-top: 5%">
            <input class="form-check-input" type="radio" name="color" id="black" value="black" checked>
            <label class="form-check-label" for="black"><span class="dot-black"></span></label>
          </div>

          <div class="form-check form-check-inline custombtn">
            <input class="form-check-input" type="radio" name="color" id="orange" value="orange">
            <label class="form-check-label" for="orange"><span class="dot-orange"></span></label>
          </div>

          <div class="form-check form-check-inline custombtn">
            <input class="form-check-input" type="radio" name="color" id="blue" value="blue">
            <label class="form-check-label" for="blue"><span class="dot-blue"></span></label>
          </div>

          <div class="form-check form-check-inline custombtn">
            <input class="form-check-input" type="radio" name="color" id="red" value="red">
            <label class="form-check-label" for="red"><span class="dot-red"></span></label>
          </div>

          <div class="form-check form-check-inline custombtn">
            <input class="form-check-input" type="radio" name="color" id="green" value="green">
            <label class="form-check-label" for="green"><span class="dot-green"></span></label>
          </div>
        </div>
      </form>
    </div>
    <div class="album py-5">
      <div class="container">
        <div class="row">
          {% for card in accolli %}
          <div class="col-md-4">
            {% if card['status'] == 'open' %}
            <div class="card mb-3" style="max-width: 18rem;">
            {% elif card['status'] == 'progress' %}
            <div class="card mb-3" style="max-width: 18rem;">             
            {% elif card['status'] == 'done' %}
            <div class="card mb-3" style="max-width: 18rem;">  
            {% endif %}
              <img class="card-img-top" src="{{ base_url }}/static/cards/{{ card['uuid'] }}.png" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">{{card['task']|safe}}</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">    
                    {% if card['status'] == 'open' %}
                    <a href="{{ card['url'] }}&dashboard_id={{id}}" class="btn btn-sm" role="button">Apri</a>
                    <a href="{{ base_url }}/delete?id={{ card['uuid'] }}" class="btn btn-sm" role="button">Cancella</a>              
                    {% elif card['status'] == 'progress' %}
                    <a href="{{ card['url'] }}&dashboard_id={{id}}" class="btn btn-sm" role="button">Apri</a>
                    <a href="{{ base_url }}/delete?id={{ card['uuid'] }}" class="btn btn-sm" role="button">Cancella</a>  
                    {% elif card['status'] == 'done' %}
                    <a href="{{ card['url'] }}&dashboard_id={{id}}" class="btn btn-sm" role="button">Apri</a>
                    <a href="{{ base_url }}/delete?id={{ card['uuid'] }}" class="btn btn-sm" role="button">Cancella</a>  
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% include './includes/footer-not-fixed.html' %}
  </body>
</html>
