
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Gestione delle Carte Di Accollo</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="album.css" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">

            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://twitter.com/luckysideburn" class="text-white">Follow on Twitter</a></li>
                <li><a href="mailto:luckysideburn@gmail.com" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="https://accolli.it" class="navbar-brand d-flex align-items-center">
            Home
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    <main role="main">
      <section class="jumbotron">
        <div class="container">
        {% if dashboard_name != '' %}
          <p class="lead">
Gentile {{dashboard_name}}, benvenuto nella tua area riservata agli accolli. Utilizza questo spazio per auto-accollarti generandoti delle Carte Di Accollo <a href="https://accolli.it?id={{id}}">qui</a>, o dai ai tuoi contatti <a href="https://accolli.it?id={{id}}">questo link</a> per farlo fare a loro. Ricordati di prendere nota del <a href="https://accolli.it/dashboard_accolli?token={{token}}">link alla tua dashboard</a> e di <a href="https://accolli.it/dashboard_accolli?token={{token}}">refreshare</a> per visualizzare nuovi accolli.
          </p>
        {% endif %}
          {% if request.args.get('input_alert') == '1' %}
          <div class="alert alert-warning" role="alert">
            Gentile utente, il campo da lei inserito deve essere minimo di 2 caratteri e massimo di 30 caratteri.
          </div>
          {% endif %}
          {% if view_form %}
          <p class="lead text-center">
            Gentile utente, per favore inserisci il tuo nome per la tua dashboard delle Carte Di Accollo.
          </p>
          <form action="https://accolli.it/dashboard_accolli/create" method="POST">
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <label class="sr-only" for="inlineFormInput">Nome</label>
                <input type="text" class="form-control" id="nome_dashboard" name='nome_dashboard' placeholder="Lucilio">
              </div>
              <div class="col-md-auto">
                <button type="submit" class="btn btn-secondary mb-2">Invia</button>
              </div>
            </div>
          </form>
          {% endif %}
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for card in accolli %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="https://accolli.it/static/cards/{{ card['uuid'] }}.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="{{ card['url'] }}&dashboard_id={{id}}&dashboard_token={{token}}" class="btn btn-sm btn-outline-secondary" role="button">Apri</a>
                      <a href="https://accolli.it/delete?id={{ card['uuid'] }}&token={{ token }}" class="btn btn-sm btn-outline-secondary" role="button">cancella</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/assets/js/vendor/popper.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>

  </body>
</html>
