
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Wallet Carte Di Accollo</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: #808080;
  background-color: transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.autoaccollo {
  margin-left: 2rem;
}

.nav-masthead .active {
  color: #808080;
  border-bottom-color: #000;
}
    </style>

  </head>

  <body>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            {% if session['username'] %}
            <a class="nav-link active" href="https://accolli.it">Home</a>
            <a class="nav-link" href="mailto:luckysideburn@gmail.com">Contatti</a>
            <a class="nav-link" href="/dashboard_accolli">Accolli di {{session['username']}}</a>
            <a class="nav-link" href="/logout">Logout</a>
            {% endif %}
          </nav>
        </div>
       </header>
    </div>
    <main role="main">
      <div class="container">
        <div class="row row-margin-05 justify-content-md-center autoaccollo">
          {% if session['username'] %}
          <p class="lead">
  Gentile {{session['username']}}, benvenuto nel tuo wallet delle carte di accollo. Utilizza questo spazio per auto-accollarti generandoti delle Carte Di Accollo o dai ai tuoi contatti <a href="https://accolli.it?id={{id}}">questo link</a> per farlo fare a loro. Ricordati di <a href="/dashboard_accolli">refreshare</a> per visualizzare eventuali nuove carte di accollo.
          </p>
          {% if request.args.get('alert') == 'true' %}
          <div class="alert alert-info" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Gentile utente i campi da lei inseriti devono essere minimo di 2 caratteri. L'attività richiesta può contenere 60 caratteri.
          </div>
          {% endif %}
          {% endif %}
          {% if request.args.get('input_alert') == '1' %}
          <div class="alert alert-info" role="alert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Gentile utente, il campo da lei inserito deve essere minimo di 2 caratteri e massimo di 30 caratteri.
          </div>
          {% endif %}
          {% if view_form %}
          <p class="lead text-center">
            Gentile utente, per favore inserisci il tuo nome per la tua dashboard delle Carte Di Accollo.
          </p>
        </div>
        <div class="row row-margin-05 justify-content-md-center">
          <form action="https://accolli.it/dashboard_accolli/create" method="POST">
            <div class="row justify-content-md-center">
              <div class="col-md-auto">
                <label class="sr-only" for="inlineFormInput">Nome</label>
                <input type="text" class="form-control" id="nome_dashboard" name='nome_dashboard' placeholder="Lucilio">
              </div>
              <div class="col-md-auto">
                <button type="submit" class="btn btn-secondary mb-2">Invia</button>
              </div>
            </div>
          </form>
        </div>
        {% endif %}
      </div>
      <div class="row justify-content-md-center autoaccollo">
        <form action="https://accolli.it/cartadiaccollo?to=dashboard&dashboard_id={{session['username']}}&dashboard_name={{session['username']}}" method="POST">
          <div class="form-row align-items-center">
            <div class="col-sm-8 my-1">
              <input name="sender" type="hidden" class="form-control" id="sender" value="{{session['username']}}">
              <input name="recipient" type="hidden" class="form-control" id="recipient" value="{{session['username']}}">
              <input name="external_sender" type="hidden" class="form-control" id="external_sender" value="false">
              <input type="text" class="form-control" id="task" name="task" placeholder="Attività da fare">
            </div>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-primary">auto-accollati</button>
            </div>
          </div>
        </form>
      </div>
      <div class="album py-5">
        <div class="container">
          <div class="row">
            {% for card in accolli %}
            <div class="col-md-4">
              {% if card['status'] == 'open' %}
              <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
              {% elif card['status'] == 'progress' %}
              <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">             
              {% elif card['status'] == 'done' %}
              <div class="card text-white bg-success mb-3" style="max-width: 18rem;">  
              {% endif %}
                <img class="card-img-top" src="https://accolli.it/static/cards/{{ card['uuid'] }}.png" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">{{card['task']}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">    
                      {% if card['status'] == 'open' %}
                      <a href="{{ card['url'] }}&dashboard_id={{id}}&dashboard_token={{token}}" class="btn btn-sm btn-outline-light" role="button">Apri</a>
                      <a href="https://accolli.it/delete?id={{ card['uuid'] }}" class="btn btn-sm btn-outline-light" role="button">cancella</a>              
                      {% elif card['status'] == 'progress' %}
                      <a href="{{ card['url'] }}&dashboard_id={{id}}&dashboard_token={{token}}" class="btn btn-sm btn-outline-dark" role="button">Apri</a>
                      <a href="https://accolli.it/delete?id={{ card['uuid'] }}" class="btn btn-sm btn-outline-dark" role="button">cancella</a>  
                      {% elif card['status'] == 'done' %}
                      <a href="{{ card['url'] }}&dashboard_id={{id}}&dashboard_token={{token}}" class="btn btn-sm btn-outline-light" role="button">Apri</a>
                      <a href="https://accolli.it/delete?id={{ card['uuid'] }}" class="btn btn-sm btn-outline-light" role="button">cancella</a>  
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </main>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/assets/js/vendor/popper.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>

  </body>
</html>
