
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Accolli</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/cover.css?rnd=123" rel="stylesheet">
  </head>  
  <style>
    .row-margin-05 { margin-top: 0.5em; }
    .row-margin-10 { margin-top: 1.0em; }
    .row-margin-20 { margin-top: 2.0em; }
    .row-margin-30 { margin-top: 3.0em; }
  </style>
  <script type="text/javascript">
    function closeLoginModal() {
      $('#loginModal').modal('hide');
    }
  </script>
  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="https://accolli.it">Home</a>
            {% if not session['username'] %}
            <a class="nav-link" data-toggle="modal" data-target="#loginModal" href="/#">Log In</a>
            <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="/#">Sign In</a>
            {% endif %}
            {% if session['username'] %}
            <a class="nav-link" href="/dashboard_accolli">Accolli di {{session['username']}}</a>
            <a class="nav-link" href="/logout">Logout</a>
            {% endif %}
          </nav>
        </div>
      </header>
      <!-- Modal -->
      <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Login</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-md-offset-4">
                    <form method=POST action="{{ url_for('login') }}">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="pass" placeholder="Password">
                      </div>
                      <button type="submit" class="btn btn-primary btn-block">Log In</button>
                    </form>
                    <br>
                    <div>
                      Don't have an account? <a onclick="closeLoginModal()" class="nav-link" data-toggle="modal" data-target="#registerModal" href="/#">Sign up here</a>.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="container">
                <div class="row">
                  <div class="col-md-9 col-md-offset-4">
                    <form method=POST action="{{ url_for('register') }}">
                      <div class="form-group">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control" name="username" placeholder="Username">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="pass" placeholder="Password">
                      </div>
                        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
                     </form>
                     <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="container">
      <div class="row">
        <div class="col-lg">
          <div class="panel panel-info">
              <div class="panel-heading">
                <h5 class="panel-title">Cos'è una Carta di Acollo?</h5>
              </div>
              <div class="panel-body">
                <p>Certifica che qualcuno ti si sta accollando!<br>Guarda questo esempio  <a href="static/example.png">di come Erich si acolla a John!</a></p>
                {% if alert or request.args.get('qr_how_to') == 'true' %}
                <div class="alert alert-info  alert-dismissible" role="alert" id="inputalert">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  Hai scansionato il QR della carta di Erich e John! Crea anche tu carte di accollo! 
                </div>
                {% endif %}
                <img src="static/example.png" class="img-fluid img-rounded zoom" alt="Responsive image">
              </div>
            </div>
          </div>
        <div class="col-lg">
          <main role="main" class="inner cover">
            <div class="p-3 mb-2 bg-info text-white"><h1 class="cover-heading">Accolli.it</h1></div>
            
            {% if accolloformdashboard %}
            <p class="lead">Genera una Carta Di Accollo per <strong>{{ dashboard['name'] }}</strong></p>
            {% else %}
            <p class="lead">Genera la Carta Di Accollo per chi ti si sta accollando! 
            </p>
            {% if session['username'] %}
            <p class="lead">
            {{session['username']}} se hai necessità di gestire più accolli <a href="https://accolli.it/dashboard_accolli">clicca qui</a>
            </p>
            {% endif %}
            {% endif %}
            {% if alert or request.args.get('alert') == 'true' %}
            <div class="alert alert-info  alert-dismissible" role="alert" id="inputalert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              Gentile utente i campi da lei inseriti devono essere minimo di 2 caratteri. Il nominativo di chi si sta accollando ed il tuo devono essere massimo di 20 mentre l'attività richiesta può contenere 60 caratteri.
            </div>
            {% endif %}
            {% if user_already_exists %}
            <div class="alert alert-info  alert-dismissible" role="alert" id="inputalert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              Gentile utente, purtroppo questo username già esiste in accolli.it!
            </div>
            {% endif %}
            {% if invalid_credential %}
            <div class="alert alert-info  alert-dismissible" role="alert" id="inputalert">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              Nome utente o password errati!
            </div>
            {% endif %}
            {% if accolloformdashboard %}
            <form action="https://accolli.it/cartadiaccollo?to=dashboard&dashboard_id={{dashboard['name']}}&dashboard_name={{dashboard['name']}}" method="POST">
              <div class="form-group">
                <label for="task1">Attività richiesta</label>
                <input name="task" type="text" class="form-control" id="task1" placeholder="fare qualcosa">
              </div>
              <div class="form-group">
                <label for="sender">Il tuo nome</label>
                <input name="sender" type="text" class="form-control" id="recipient2" placeholder="Persona che si sta accollando">
                <input name="recipient" type="hidden" class="form-control" id="recipient" value="{{dashboard['name']}}">
                <input name="external_sender" type="hidden" class="form-control" id="external_sender" value="true">
              </div>
              <p class="lead">Attenzione! Stai creando una Carta Di Accollo per {{ dashboard['name'] }}</p>
              <button type="submit" class="btn btn-primary">Crea</button>
            </form>
            {% endif %}
            {% if accolloform %}
            <form action="https://accolli.it/cartadiaccollo" method="POST">
              <div class="form-group">
                <label for="task1">Attività richiesta</label>
                <input name="task" type="text" class="form-control" id="task1" placeholder="fare qualcosa">
              </div>
              <div class="form-group">
                <label for="recipient1">Chi si sta accollando</label>
                <input name="recipient" type="text" class="form-control" id="recipient1" placeholder="Persona che si sta accollando">
              </div>
              <div class="form-group">
                <label for="sender1">Il tuo nome</label>
                <input name="sender" type="text" class="form-control" id="recipient3" placeholder="Persona che si sta accollando">
              </div>
              <button type="submit" class="btn btn-primary">Crea</button>
            </form>
            {% endif %}
          </main>
        </div>
      </div>
      <div class="row row-margin-30 justify-content-md-center">
        <h4>Prova il comodo wallet degli accolli! </h4>
        <a class="nav-link" data-toggle="modal" data-target="#registerModal" href="/#">Sign In</a>
        <div class="col-md-auto">
          <img src="static/wallet.png" class="img-fluid img-rounded zoom" alt="Responsive image">
        </div>
      </div>
    </div>
      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>A <a href="https://twitter.com/luckysideburn">@luckysideburn</a> production.</p>
        </div>
      </footer>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/assets/js/vendor/popper.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
  </body>
</html>
