<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <meta property="og:title" content="Carta di Accollo" />
    <meta property="og:image" content="https://accolli.it/static/cards/{{request.args.get('id')}}.png" />
    <meta property="og:description" content="Complimenti! Hai ricevuto una carta di accollo!" />

    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Accolli</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!-- Bootstrap core CSS -->
    <link href="static/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  </head>
  <style>
    .row-margin-05 { margin-top: 0.5em; }
    .row-margin-10 { margin-top: 1.0em; }
    .row-margin-20 { margin-top: 2.0em; }
    .row-margin-30 { margin-top: 3.0em; }

    body {
      height: 100%;
      background-color: #FFF;
    }

  </style>

<body>
  <div class="cover-container d-flex h-100 p-3 mx-auto">
    <nav class="navbar navbar-light" style="background-color: #fff;">
      <a class="nav-link active" href="https://accolli.it">Home</a>
      <a class="nav-link" href="mailto:luckysideburn@gmail.com">Contact accolli.it</a>
    </nav>
  </div>
  <main role="main">
    <div class="album py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="card mb-4 shadow-sm">
              <img src="{{card_img_url}}" class="img-fluid" alt="Responsive image">
              <div class="card-body">
                <p class="card-text">Stato: <font class="card-text {{text}}">{{card_status_desc}}</font></p>
                <div class="container">   
                  <div class="row row-margin-05">
                    <a href="mailto:?subject=Notifica ricezione Carta Di Accollo&body={{emailbody}}" class="btn btn-primary mb-2" role="button">Invia tramite email!</a>
                  </div>
                  {% if request.args.get('status') == 'done' %}
                  <div class="row row-margin-05">
                    <a href="mailto:?subject=Notifica aggiornamento Carta Di Accollo&body=Ciao%2C%0A%0ATi%20comunico%20che%20ho%20terminato%20l%27attivit%C3%A0.%0A%0AL%27accollo%20che%20puoi%20visionare%20al%20seguente%20link%20:%20%0Ahttps://accolli.it/show?id={{request.args.get('id')}}%26token={{request.args.get('token')}}%0A%0A%20%C3%A8%20stato%20completato%21%0A%0ASaluti%2C%0A{{request.args.get('sender')}}%0A%0A" class="btn btn-success mb-2" role="button">Notifica che hai finito!</a>
                  </div>
                  {% elif request.args.get('status') == 'progress' %}
                  <div class="row row-margin-05">
                    <a href="mailto:?subject=Notifica aggiornamento Carta Di Accollo&body=Ciao!%0A%0AHo%20ricevuto%20la%20tua%20Carta%20Di%20Accollo%20e%20volevo%20comunicarti%20che%20ci%20sto%20lavorando%21%0A%0APuoi%20visualizzare%20la%20carta%20al%20seguente%20link:%0Ahttps://accolli.it/show?id={{request.args.get('id')}}%26token={{request.args.get('token')}}%0A%0AA%20presto%21" class="btn btn-warning mb-2" role="button">Notifica che ci stai lavorando!</a>
                  </div>
                  {% endif %}
                  <div class="row row-margin-10">
                    <div class="btn-group">
                      <button type="button" class="btn btn-secondary">Scegli cosa fare</button>
                      <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('changestatus', id = request.args.get('id'), token = request.args.get('token'), status = 'done') }}">Accollo Completato</a>
                        <a class="dropdown-item" href="{{ url_for('changestatus', id = request.args.get('id'), token = request.args.get('token'), status = 'progress') }}">Lavora all'accollo</a>
                        <a class="dropdown-item" href="{{ url_for('show', id = request.args.get('id'), token = request.args.get('token')) }}">Refresh</a>
                        <a class="dropdown-item" href="https://accolli.it/static/cards/{{request.args.get('id')}}.png" download="CartaDiAccollo">Download</a>
                        <a class="dropdown-item" href="https://accolli.it">Home Page</a>
                        {% if request.args.get('dashboard_token') %}
                        <a class="dropdown-item" href="https://accolli.it/dashboard_accolli?token={{request.args.get('dashboard_token')}}">Torna indietro</a>
                        {% endif %}   
                        <div class="dropdown-divider"></div>
                      </div>
                    </div>
                      <small class="text-muted"></small>
                  </div>   
                 <!--
                  <div class="row row-margin-05">
                    <form action="https://accolli.it/message?id={{request.args.get('id')}}&token={{request.args.get('token')}}" method="POST" class="form-inline">
                      <div class="form-group">
                        <div class="input-group mb-2 mr-sm-2">
                          <input type="email" name="email" class="form-control" id="inlineFormInputGroupUsername2" placeholder="email destinatario">
                        </div>
                       <button type="submit" class="btn btn-primary mb-2">Invia tramite e-mail</button>
                    </form>
                  </div>
                -->
                </div>
              </div>
            </div>
  <!--
            <form action="https://accolli.it/message" method="POST">
              <div class="form-group">
                <input class="form-control form-control-lg" type="text" placeholder="scrivi qui un aggiornamento">
              </div>
              <button type="submit" class="btn btn-primary mb-2">Invia</button>
            </form>
  -->
          </div>
        </div>
      </div>
    </div>
  </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="static/assets/js/vendor/popper.min.js"></script>
    <script src="static/dist/js/bootstrap.min.js"></script>
  </body>
</html>

        
