<!doctype html>
<html lang="en">
  {% include './includes/head.html' %}
  {% include './includes/scripts.html' %}
  {% include './includes/style.html' %}
  <body>
  {% include './includes/nav.html' %}
  {% include './includes/modals.html' %}
  <main role="main">
    <div class="album py-5">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-lg-8">
            {% if card_status_desc == 'Accollo cancellato!' %}
            <div class="alert alert-dark" role="alert">
            Questo accollo è stato cancellato!
            </div>
            {% endif %}
            {% if session['username'] and card_status_desc != 'Accollo cancellato!' %}
              <!-- {% if not lightcard %}
            <a class="btn btn-danger" href="{{ url_for('changestatus', id = request.args.get('id'), token = request.args.get('token'), status = 'done') }}">Accollo Completato</a>
            <a class="btn btn-danger" href="{{ url_for('changestatus', id = request.args.get('id'), token = request.args.get('token'), status = 'progress') }}">Lavora all'accollo</a>
              {% endif %} -->
            {% endif %} 
            <img src="static/ryu-accollo.gif" class="img-fluid img-rounded zoom" alt="Responsive image">
            <div class="card mb-4 shadow-sm row-margin-02">
              <img src="{{card_img_url}}" class="img-fluid" alt="Responsive image">
              <div class="card-body">
                {% if not lightcard %}
                <h5>Messaggio da parte dell'autore di questa card: </h5>
                <h5 class="card-text"><font class="card-text {{text}}">{{card_status_desc}}</font></h5>
                {% endif %}
                <div class="container" style="margin-top: 4%;">   
                  {% if not lightcard and card_status_desc != 'Accollo cancellato!' %}
                  {% if request.args.get('status') == 'done' %}
                  <div class="row row-margin-05">
                    <a href="mailto:?subject=Notifica aggiornamento Carta Di Accollo&body=Ciao%2C%0A%0ATi%20comunico%20che%20ho%20terminato%20l%27attivit%C3%A0.%0A%0AL%27accollo%20che%20puoi%20visionare%20al%20seguente%20link%20:%20%0A{{ base_url }}/show?id={{request.args.get('id')}}%26token={{request.args.get('token')}}%0A%0A%20%C3%A8%20stato%20completato%21%0A%0ASaluti%2C%0A{{request.args.get('sender')}}%0A%0A" class="btn btn-success mb-2" role="button">Notifica che hai finito!</a>
                  </div>
                  {% elif request.args.get('status') == 'progress' %}
                  <!-- <div class="row row-margin-05">
                    <div class="col">
                      <a href="mailto:?subject=Notifica aggiornamento Carta Di Accollo&body=Ciao!%0A%0AHo%20ricevuto%20la%20tua%20Carta%20Di%20Accollo%20e%20volevo%20comunicarti%20che%20ci%20sto%20lavorando%21%0A%0APuoi%20visualizzare%20la%20carta%20al%20seguente%20link:%0A{{ base_url }}/show?id={{request.args.get('id')}}%26token={{request.args.get('token')}}%0A%0AA%20presto%21" class="btn btn-warning mb-2" role="button">Notifica che ci stai lavorando!</a>
                    </div>
                  </div> -->
                  {% endif %}
                  {% endif %}
                  <h5>Possibili azioni: </h5>
                  <div class="row row-margin-10">
                    <div>
                      <div class="dropdown show">
                        {% if not lightcard %}
                        <a class="dropdown-item" href="mailto:?subject=Notifica aggiornamento Carta Di Accollo&body=Ciao!%0A%0AHo%20ricevuto%20la%20tua%20Carta%20Di%20Accollo%20e%20volevo%20comunicarti%20che%20ci%20sto%20lavorando%21%0A%0APuoi%20visualizzare%20la%20carta%20al%20seguente%20link:%0A{{ base_url }}/show?id={{request.args.get('id')}}%26token={{request.args.get('token')}}%0A%0AA%20presto%21">Notifica che ci stai lavorando</a>
                        <a class="dropdown-item" href="mailto:?subject=Notifica ricezione Carta Di Accollo&body={{emailbody}}">Invia tramite email</a>
                        <a class="dropdown-item" href="{{ url_for('changestatus', id = request.args.get('id'), token = request.args.get('token'), status = 'done') }}">Accollo Completato</a>
                        <a class="dropdown-item" href="{{ url_for('changestatus', id = request.args.get('id'), token = request.args.get('token'), status = 'progress') }}">Lavora all'accollo</a>
                        <a class="dropdown-item" href="{{ url_for('show', id = request.args.get('id'), token = request.args.get('token')) }}">Refresh</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ base_url }}/static/cards/{{request.args.get('id')}}.png" download="CartaDiAccollo">Download</a>
                        <a class="dropdown-item" href="{{ base_url }}">Torna all'home page</a>
                        {% if request.args.get('dashboard_token') %}
                        <a class="dropdown-item" href="{{ base_url }}/dashboard_accolli?token={{request.args.get('dashboard_token')}}">Torna indietro</a>
                        {% endif %}   
                        <div class="dropdown-divider"></div>
                      </div>
                    </div>
                      <small class="text-muted"></small>
                  </div>
                  <!-- <div class="row row-margin-05">
                    <div class="col">
                      <a href="mailto:?subject=Notifica ricezione Carta Di Accollo&body={{emailbody}}" class="btn btn-primary mb-2" role="button">Invia tramite email</a>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  {% include './includes/footer-not-fixed.html' %}
  </body>
</html>

        
